<p id="notice"><%= notice %></p>

<h1>Secret Codes</h1>
<%= form_with(controler: :secret_codes, local: true, action: :create) do |form| %>
  <div class="actions" style="display: flex;">
    <%= form.submit "Generate More SecretCode", type: "submit", class: "btn btn-primary btn-embossed save-doc-action" %>
    <%= select_tag "secret_code_count", options_for_select([1, 10, 20, 50, 100], selected: 10), class:"form-control wth-100" %>
  </div>
<% end %>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>UserEmail</th>
      <th>SecretCode</th>
    </tr>
  </thead>
  <tbody>
    <% @secret_codes.each do |secret_code| %>
      <tr>
        <td><%= secret_code.user.try(:email) %></td>
        <td><%= secret_code.code_string %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate(@secret_codes, :renderer => WillPaginate::ActionView::LinkRenderer) %>
<br>


